<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria</title>
</head>

<body>
    <th:block th:replace="~{fragment :: bootstrap}"></th:block>
    <th:block th:replace="~{fragment :: navBar}"></th:block>

    <table class="table" th:if="${pizze.size() > 0}">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col">Click for detail</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pizza: ${pizze}" th:object="${pizza}">
                <td scope="row">[[*{name}]]</td>
                <td>[[*{description}]]</td>
                <td><img th:src="*{pick}" alt="Pizza image" style="max-width: 150px;"></td>
                <td>[[*{price}]] [[*{symbol}]]</td>
                <td><a th:href="@{/pizze/{id}(id=*{id})}">Detail</td>
            </tr>
        </tbody>
    </table>

    <p th:if="${pizze.size() == 0}">No pizze found at the moment</p>

</body>

</html>